*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    height: 70px;
    line-height: 70px;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
    font-size: 1.5rem;
}
#your-chance,#comp-chance{
    font-size: 2rem;
}
.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5rem; */
    margin-top: 4.5rem;
}
#mess{
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    padding: 0.3rem;


}